@import '~bootstrap';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

$base-color: #181f4e;
$danger: #de5b5b;
$brown-color: #A52A2A;
$error-message-icon-margin: 8px;
$error-message-text-margin-top: 4px;

html, body {
    height: 100%;
    width: 100%;
}

.vdp-datepicker > .input-group > .form-control[readonly] {
    background-color: white;
}

input[type=text].form-control:focus,
input[type=number].form-control:focus,
input[type=password].form-control:focus,
select.custom-select:focus,
textarea.form-control:focus {
    border: solid 0.5px $base-color;
    box-shadow: none;
}

input[type=text].form-control,
input[type=number].form-control,
input[type=password].form-control,
textarea.form-control {
    font-size: 12px;
    color: #181f4e;
    font-weight: normal;
    width: 210px;
    margin-left: 5px;
}

input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
textarea:disabled {
    pointer-events: none;
    opacity: .6 !important;
}

input.form-input-error,
textarea.form-input-error,
select.custom-select.form-input-error,
.multiselect.form-input-error {
    border: 1px solid #FF0000 !important;
}


input.form-input-error:focus,
textarea.form-input-error:focus,
select.custom-select.form-input-error:focus {
    border: 1px solid #FF0000 !important;
}

input.form-input-no-error,
textarea.form-input-no-error,
select.custom-select.form-input-no-error {
    border: 1px solid black;
}


input[type=text].placeholder {
    text-align: center;
}

form.custom-horizontal-form {
    > div[role=group] {
        @extend .form-group !optional;
        @extend .row;

        > label {
            @extend .col-form-label;
            @extend .col-1;
        }

        > label:after {
            content: ':';
        }

        > div {
            @extend .col-3;
        }
    }
}

form.custom-horizontal-form-4 {
    > div[role=group] {
        @extend .form-group !optional;
        @extend .row;

        > label {
            @extend .col-form-label;
            @extend .col-1;
        }

        > label:after {
            content: ':';
        }

        > div {
            @extend .col-2;
        }
    }
}

/*.form-group{
    padding-top: 20px;
}*/


.success-class {
    background-color: #99DD99;
}

.fail-class {
    background-color: #FFEEAA;
}

/*login-btn*/
button.btn.btn-primary {
    background-color: #0676d1;
    font-weight: bold;
}

.btn.disabled, .btn:disabled {
    background-color: gray !important;
    border-color: gray !important;
}

.collapse-header::after {
    font-size: 11px;
    vertical-align: middle;
    @extend .material-icons;
    content: '\e5c5';
}

.collapse-headers::after {
    font-size: 11px;
    vertical-align: middle;
    @extend .material-icons;
    content: '\e5c7';
}

.material-icons.icon-2x {
    font-size: 2em;
}

.router-link-exact-active {
    font-weight: bold !important;
    border-bottom: solid !important;
}

.vnb__sub-menu-options__option > .router-link-exact-active {
    border-bottom: none !important;
}

.vnb__menu-options__option__link:hover {
    font-weight: bold;
    border-bottom: solid;
}

.vgt-table td {
    padding: 0.5em !important;
    font-size: 11px !important;
}

.vgt-table th {
    font-size: 12px !important;
}

.card-body {
    padding: 0 !important;
    padding-top: 1em !important;
}

td p {
    margin-bottom: 0em !important;
}

th p {
    margin-bottom: 0em !important;
}

/*Text*/
.remark {
    color: #FF0000;
    text-align: left;
    font-size: 11px;
    padding-bottom: 5px;
}
